<div class="tnt-create-itinerary">
    <h1 mat-dialog-title>Create Itinerary</h1>

    <div mat-dialog-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam corporis magnam, sequi
        consequuntur deserunt eius iusto dolorum omnis atque excepturi laboriosam, explicabo autem adipisci nisi commodi
        pariatur saepe eum odio!</div>

    <div mat-dialog-actions style="float:right;margin:20px;">
        <button [mat-dialog-close]="{ clicked: 'Ok' }">Ok</button>
        <button [mat-dialog-close]="{ clicked: 'Cancel' }">
            Cancel
        </button>
    </div>
</div>