<div class="tnt-hotels">
    Hotels

    <div class="tnt-grid tnt-grid--col-3">
        <div class="tnt-grid__col">A</div>
        <div class="tnt-grid__col">B</div>
        <div class="tnt-grid__col">C</div>
        <div class="tnt-grid__col">D</div>
        <div class="tnt-grid__col">E</div>
        <div class="tnt-grid__col">F</div>
        <div class="tnt-grid__col">G</div>
        <div class="tnt-grid__col">H</div>
        <div class="tnt-grid__col">I</div>
        <div class="tnt-grid__col">H</div>
        <div class="tnt-grid__col">I</div>
        <div class="tnt-grid__col">J</div>
    </div>
</div>