.tnt-location-search {
	padding: 20px;

	&__title {
		font-size: 24px;
		margin-bottom: 10px;
		text-align: center;

		strong {
			font-weight: 600;
		}
	}

	&__subtitle {
		font-size: 16px;
		color: var(--tnt-dark);
		text-align: center;
		margin-bottom: 40px;
	}

	&__pagination {
        display: flex;
        justify-content: center;
        margin: 50px 30px;
    }
}


