<div class="tnt-pagination">
    <!-- Previous page button -->
    <a 
        class="tnt-pagination__link" 
        [class.tnt-pagination__link--disabled]="currentPage() === 1"
        (click)="onPageChange(currentPage() - 1)"
        *ngIf="currentPage() > 1">
        &laquo;
    </a>
    
    <!-- Page numbers -->
    @for (page of pages; track page) {
        @if (page === -1 || page === -2) {
            <span class="tnt-pagination__ellipsis">...</span>
        } @else {
            <a 
                class="tnt-pagination__link"
                [class.tnt-pagination__link--active]="page === currentPage()"
                (click)="onPageChange(page)">
                {{ page }}
            </a>
        }
    }
    
    <!-- Next page button -->
    <a 
        class="tnt-pagination__link" 
        [class.tnt-pagination__link--disabled]="currentPage() === totalPages()"
        (click)="onPageChange(currentPage() + 1)"
        *ngIf="currentPage() < totalPages()">
        &raquo;
    </a>
</div>