<header class="tnt-navbar">
    <nav class="tnt-navbar__nav" aria-label="Main navigation">
        <a routerLink="/" class="navbar-brand" alt="activities" aria-label="activities navbar link">
            Activities
        </a>
        <a routerLink="/hotels" class="navbar-brand" alt="hotels" aria-label="hotels navbar link">
            Hotels
        </a>
        <a routerLink="/restaurants" class="navbar-brand" alt="restaurants" aria-label="restaurants navbar link">
            Restaurants
        </a>
        <a routerLink="/ai-search" class="navbar-brand" alt="ai-search" aria-label="ai-search navbar link">
            AI Search
        </a>
        <a routerLink="/profile" class="navbar-brand" alt="profile" aria-label="profile navbar link">
            Profile
        </a>
    </nav>
</header>