:root {
  --tnt-primary: #F06449;
  --tnt-background: #EDE6E3;
  --tnt-neutral: #DADAD9;
  --tnt-dark: #36382E;
  --tnt-accent: #5BC3EB;
  --tnt-white: #FFFFFF;
}

*,
*::before,
*::after {
  font-family: 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  background: #ccc;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}